<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>death_export/d3/dying__021.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {484, 640}}</string>
			<key>offset</key>
			<string>{181, 14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{372, 43}, {484, 640}}</string>
			<key>sourceSize</key>
			<string>{867, 755}</string>
		</dict>
		<key>death_export/d3/dying__022.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 643}, {480, 634}}</string>
			<key>offset</key>
			<string>{181, 12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{374, 48}, {480, 634}}</string>
			<key>sourceSize</key>
			<string>{867, 755}</string>
		</dict>
		<key>death_export/d3/dying__023.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1279}, {475, 626}}</string>
			<key>offset</key>
			<string>{180, 11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{376, 53}, {475, 626}}</string>
			<key>sourceSize</key>
			<string>{867, 755}</string>
		</dict>
		<key>death_export/d3/dying__024.png</key>
		<dict>
			<key>frame</key>
			<string>{{478, 1279}, {469, 617}}</string>
			<key>offset</key>
			<string>{180, 8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{379, 60}, {469, 617}}</string>
			<key>sourceSize</key>
			<string>{867, 755}</string>
		</dict>
		<key>death_export/d3/dying__025.png</key>
		<dict>
			<key>frame</key>
			<string>{{483, 643}, {479, 613}}</string>
			<key>offset</key>
			<string>{170, 6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{364, 64}, {479, 613}}</string>
			<key>sourceSize</key>
			<string>{867, 755}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>textureFileName</key>
		<string>d3.png</string>
	</dict>
</dict>
</plist>
