<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>death_export/d4-2/dying__036.png</key>
		<dict>
			<key>frame</key>
			<string>{{654, 439}, {619, 510}}</string>
			<key>offset</key>
			<string>{37, -41}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{161, 163}, {619, 510}}</string>
			<key>sourceSize</key>
			<string>{867, 755}</string>
		</dict>
		<key>death_export/d4-2/dying__037.png</key>
		<dict>
			<key>frame</key>
			<string>{{1341, 1}, {636, 488}}</string>
			<key>offset</key>
			<string>{22, -54}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{137, 187}, {636, 488}}</string>
			<key>sourceSize</key>
			<string>{867, 755}</string>
		</dict>
		<key>death_export/d4-2/dying__038.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 409}, {651, 464}}</string>
			<key>offset</key>
			<string>{6, -69}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{114, 214}, {651, 464}}</string>
			<key>sourceSize</key>
			<string>{867, 755}</string>
		</dict>
		<key>death_export/d4-2/dying__039.png</key>
		<dict>
			<key>frame</key>
			<string>{{676, 1}, {663, 436}}</string>
			<key>offset</key>
			<string>{-7, -84}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{94, 243}, {663, 436}}</string>
			<key>sourceSize</key>
			<string>{867, 755}</string>
		</dict>
		<key>death_export/d4-2/dying__040.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {673, 406}}</string>
			<key>offset</key>
			<string>{-20, -101}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{76, 275}, {673, 406}}</string>
			<key>sourceSize</key>
			<string>{867, 755}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>textureFileName</key>
		<string>d4-2.png</string>
	</dict>
</dict>
</plist>
