<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>death_export/d5/dying__041.png</key>
		<dict>
			<key>frame</key>
			<string>{{1378, 1}, {680, 373}}</string>
			<key>offset</key>
			<string>{-33, -117}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{60, 308}, {680, 373}}</string>
			<key>sourceSize</key>
			<string>{867, 755}</string>
		</dict>
		<key>death_export/d5/dying__042.png</key>
		<dict>
			<key>frame</key>
			<string>{{690, 267}, {684, 339}}</string>
			<key>offset</key>
			<string>{-45, -135}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46, 343}, {684, 339}}</string>
			<key>sourceSize</key>
			<string>{867, 755}</string>
		</dict>
		<key>death_export/d5/dying__043.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {687, 302}}</string>
			<key>offset</key>
			<string>{-55, -154}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34, 380}, {687, 302}}</string>
			<key>sourceSize</key>
			<string>{867, 755}</string>
		</dict>
		<key>death_export/d5/dying__044.png</key>
		<dict>
			<key>frame</key>
			<string>{{690, 1}, {686, 264}}</string>
			<key>offset</key>
			<string>{-65, -174}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25, 419}, {686, 264}}</string>
			<key>sourceSize</key>
			<string>{867, 755}</string>
		</dict>
		<key>death_export/d5/dying__045.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 305}, {684, 238}}</string>
			<key>offset</key>
			<string>{-74, -201}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17, 459}, {684, 238}}</string>
			<key>sourceSize</key>
			<string>{867, 755}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>textureFileName</key>
		<string>d5.png</string>
	</dict>
</dict>
</plist>
