<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<key>spriteFrameFiles</key>
	<array>
		<string>death_export/d5.plist</string>
		<string>death_export/d3.plist</string>
		<string>death_export/d1-2.plist</string>
		<string>death_export/d1.plist</string>
		<string>walk_export/w8.plist</string>
		<string>death_export/d4-2.plist</string>
		<string>walk_export/w2.plist</string>
		<string>death_export/d6.plist</string>
		<string>death_export/d4.plist</string>
		<string>death_export/d2.plist</string>
		<string>death_export/d2-2.plist</string>
		<string>walk_export/w1.plist</string>
		<string>walk_export/w3.plist</string>
		<string>death_export/d5-2.plist</string>
		<string>walk_export/w4.plist</string>
		<string>walk_export/w6.plist</string>
		<string>walk_export/w5.plist</string>
		<string>death_export/d3-2.plist</string>
		<string>walk_export/w7.plist</string>
	</array>
</dict>
</plist>
