<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<key>spriteFrameFiles</key>
	<array>
		<string>death_export.plist</string>
		<string>main_walk_export.plist</string>
		<string>walk_export.plist</string>
		<string>death_main.plist</string>
		<string>crossbow_export.plist</string>
		<string>main_shoot.plist</string>
	</array>
</dict>
</plist>
