<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>walk_export/w3/walking__021.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {107, 340}}</string>
			<key>offset</key>
			<string>{12, 3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27, 1}, {107, 340}}</string>
			<key>sourceSize</key>
			<string>{137, 349}</string>
		</dict>
		<key>walk_export/w3/walking__022.png</key>
		<dict>
			<key>frame</key>
			<string>{{901, 1}, {107, 339}}</string>
			<key>offset</key>
			<string>{12, 2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27, 2}, {107, 339}}</string>
			<key>sourceSize</key>
			<string>{137, 349}</string>
		</dict>
		<key>walk_export/w3/walking__023.png</key>
		<dict>
			<key>frame</key>
			<string>{{110, 110}, {107, 339}}</string>
			<key>offset</key>
			<string>{12, 2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{27, 2}, {107, 339}}</string>
			<key>sourceSize</key>
			<string>{137, 349}</string>
		</dict>
		<key>walk_export/w3/walking__024.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 343}, {107, 340}}</string>
			<key>offset</key>
			<string>{12, 2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27, 2}, {107, 340}}</string>
			<key>sourceSize</key>
			<string>{137, 349}</string>
		</dict>
		<key>walk_export/w3/walking__025.png</key>
		<dict>
			<key>frame</key>
			<string>{{110, 1}, {107, 339}}</string>
			<key>offset</key>
			<string>{12, 1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{27, 3}, {107, 339}}</string>
			<key>sourceSize</key>
			<string>{137, 349}</string>
		</dict>
		<key>walk_export/w3/walking__026.png</key>
		<dict>
			<key>frame</key>
			<string>{{451, 1}, {107, 339}}</string>
			<key>offset</key>
			<string>{12, 1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{27, 3}, {107, 339}}</string>
			<key>sourceSize</key>
			<string>{137, 349}</string>
		</dict>
		<key>walk_export/w3/walking__027.png</key>
		<dict>
			<key>frame</key>
			<string>{{792, 1}, {107, 339}}</string>
			<key>offset</key>
			<string>{12, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27, 3}, {107, 339}}</string>
			<key>sourceSize</key>
			<string>{137, 349}</string>
		</dict>
		<key>walk_export/w3/walking__028.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 685}, {107, 338}}</string>
			<key>offset</key>
			<string>{12, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27, 4}, {107, 338}}</string>
			<key>sourceSize</key>
			<string>{137, 349}</string>
		</dict>
		<key>walk_export/w3/walking__029.png</key>
		<dict>
			<key>frame</key>
			<string>{{451, 110}, {107, 338}}</string>
			<key>offset</key>
			<string>{12, 1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{27, 4}, {107, 338}}</string>
			<key>sourceSize</key>
			<string>{137, 349}</string>
		</dict>
		<key>walk_export/w3/walking__030.png</key>
		<dict>
			<key>frame</key>
			<string>{{110, 219}, {107, 338}}</string>
			<key>offset</key>
			<string>{12, 1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{27, 4}, {107, 338}}</string>
			<key>sourceSize</key>
			<string>{137, 349}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>textureFileName</key>
		<string>w3.png</string>
	</dict>
</dict>
</plist>
