<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>death_export/d1/dying__000.png</key>
		<dict>
			<key>frame</key>
			<string>{{542, 1}, {441, 1366}}</string>
			<key>offset</key>
			<string>{631, 64}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1278, 8}, {441, 1366}}</string>
			<key>sourceSize</key>
			<string>{1735, 1511}</string>
		</dict>
		<key>death_export/d1/dying__001.png</key>
		<dict>
			<key>frame</key>
			<string>{{542, 919}, {403, 1357}}</string>
			<key>offset</key>
			<string>{595, 57}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1261, 19}, {403, 1357}}</string>
			<key>sourceSize</key>
			<string>{1735, 1511}</string>
		</dict>
		<key>death_export/d1/dying__002.png</key>
		<dict>
			<key>frame</key>
			<string>{{542, 1324}, {406, 1344}}</string>
			<key>offset</key>
			<string>{567, 49}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1231, 34}, {406, 1344}}</string>
			<key>sourceSize</key>
			<string>{1735, 1511}</string>
		</dict>
		<key>death_export/d1/dying__003.png</key>
		<dict>
			<key>frame</key>
			<string>{{542, 444}, {473, 1359}}</string>
			<key>offset</key>
			<string>{543, 54}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1174, 21}, {473, 1359}}</string>
			<key>sourceSize</key>
			<string>{1735, 1511}</string>
		</dict>
		<key>death_export/d1/dying__004.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {539, 1372}}</string>
			<key>offset</key>
			<string>{520, 58}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1118, 11}, {539, 1372}}</string>
			<key>sourceSize</key>
			<string>{1735, 1511}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>textureFileName</key>
		<string>d1.png</string>
	</dict>
</dict>
</plist>
