<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>death_export/d2-2/dying__016.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {989, 1332}}</string>
			<key>offset</key>
			<string>{361, 37}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{734, 52}, {989, 1332}}</string>
			<key>sourceSize</key>
			<string>{1735, 1511}</string>
		</dict>
		<key>death_export/d2-2/dying__017.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1335}, {988, 1325}}</string>
			<key>offset</key>
			<string>{362, 36}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{735, 56}, {988, 1325}}</string>
			<key>sourceSize</key>
			<string>{1735, 1511}</string>
		</dict>
		<key>death_export/d2-2/dying__018.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 2662}, {986, 1317}}</string>
			<key>offset</key>
			<string>{362, 34}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{736, 62}, {986, 1317}}</string>
			<key>sourceSize</key>
			<string>{1735, 1511}</string>
		</dict>
		<key>death_export/d2-2/dying__019.png</key>
		<dict>
			<key>frame</key>
			<string>{{989, 2662}, {983, 1308}}</string>
			<key>offset</key>
			<string>{362, 33}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{738, 68}, {983, 1308}}</string>
			<key>sourceSize</key>
			<string>{1735, 1511}</string>
		</dict>
		<key>death_export/d2-2/dying__020.png</key>
		<dict>
			<key>frame</key>
			<string>{{991, 1335}, {978, 1297}}</string>
			<key>offset</key>
			<string>{362, 30}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{740, 76}, {978, 1297}}</string>
			<key>sourceSize</key>
			<string>{1735, 1511}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
		<key>textureFileName</key>
		<string>d2-2.png</string>
	</dict>
</dict>
</plist>
