<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>death_export/d5/dying__041.png</key>
		<dict>
			<key>frame</key>
			<string>{{2759, 1}, {1363, 747}}</string>
			<key>offset</key>
			<string>{-66, -235}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{119, 617}, {1363, 747}}</string>
			<key>sourceSize</key>
			<string>{1735, 1511}</string>
		</dict>
		<key>death_export/d5/dying__042.png</key>
		<dict>
			<key>frame</key>
			<string>{{1380, 533}, {1372, 677}}</string>
			<key>offset</key>
			<string>{-90, -271}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{91, 688}, {1372, 677}}</string>
			<key>sourceSize</key>
			<string>{1735, 1511}</string>
		</dict>
		<key>death_export/d5/dying__043.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {1377, 603}}</string>
			<key>offset</key>
			<string>{-111, -308}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{67, 762}, {1377, 603}}</string>
			<key>sourceSize</key>
			<string>{1735, 1511}</string>
		</dict>
		<key>death_export/d5/dying__044.png</key>
		<dict>
			<key>frame</key>
			<string>{{1380, 1}, {1377, 530}}</string>
			<key>offset</key>
			<string>{-130, -349}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{48, 839}, {1377, 530}}</string>
			<key>sourceSize</key>
			<string>{1735, 1511}</string>
		</dict>
		<key>death_export/d5/dying__045.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 606}, {1371, 475}}</string>
			<key>offset</key>
			<string>{-147, -402}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34, 920}, {1371, 475}}</string>
			<key>sourceSize</key>
			<string>{1735, 1511}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
		<key>textureFileName</key>
		<string>d5.png</string>
	</dict>
</dict>
</plist>
