<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>walk_export/w1/walking__000.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {462, 1360}}</string>
			<key>offset</key>
			<string>{36, 5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{80, 13}, {462, 1360}}</string>
			<key>sourceSize</key>
			<string>{551, 1397}</string>
		</dict>
		<key>walk_export/w1/walking__001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1363}, {454, 1359}}</string>
			<key>offset</key>
			<string>{37, 6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{85, 12}, {454, 1359}}</string>
			<key>sourceSize</key>
			<string>{551, 1397}</string>
		</dict>
		<key>walk_export/w1/walking__002.png</key>
		<dict>
			<key>frame</key>
			<string>{{457, 1363}, {449, 1358}}</string>
			<key>offset</key>
			<string>{40, 8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{91, 11}, {449, 1358}}</string>
			<key>sourceSize</key>
			<string>{551, 1397}</string>
		</dict>
		<key>walk_export/w1/walking__003.png</key>
		<dict>
			<key>frame</key>
			<string>{{901, 1}, {445, 1357}}</string>
			<key>offset</key>
			<string>{44, 9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{97, 10}, {445, 1357}}</string>
			<key>sourceSize</key>
			<string>{551, 1397}</string>
		</dict>
		<key>walk_export/w1/walking__004.png</key>
		<dict>
			<key>frame</key>
			<string>{{908, 1360}, {440, 1356}}</string>
			<key>offset</key>
			<string>{48, 11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{103, 9}, {440, 1356}}</string>
			<key>sourceSize</key>
			<string>{551, 1397}</string>
		</dict>
		<key>walk_export/w1/walking__005.png</key>
		<dict>
			<key>frame</key>
			<string>{{1348, 1}, {437, 1356}}</string>
			<key>offset</key>
			<string>{50, 12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{107, 8}, {437, 1356}}</string>
			<key>sourceSize</key>
			<string>{551, 1397}</string>
		</dict>
		<key>walk_export/w1/walking__006.png</key>
		<dict>
			<key>frame</key>
			<string>{{1309, 2718}, {436, 1356}}</string>
			<key>offset</key>
			<string>{50, 12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{107, 8}, {436, 1356}}</string>
			<key>sourceSize</key>
			<string>{551, 1397}</string>
		</dict>
		<key>walk_export/w1/walking__007.png</key>
		<dict>
			<key>frame</key>
			<string>{{872, 2723}, {435, 1357}}</string>
			<key>offset</key>
			<string>{50, 12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{108, 7}, {435, 1357}}</string>
			<key>sourceSize</key>
			<string>{551, 1397}</string>
		</dict>
		<key>walk_export/w1/walking__008.png</key>
		<dict>
			<key>frame</key>
			<string>{{465, 1}, {434, 1358}}</string>
			<key>offset</key>
			<string>{50, 12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{108, 7}, {434, 1358}}</string>
			<key>sourceSize</key>
			<string>{551, 1397}</string>
		</dict>
		<key>walk_export/w1/walking__009.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 2724}, {434, 1359}}</string>
			<key>offset</key>
			<string>{50, 12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{108, 6}, {434, 1359}}</string>
			<key>sourceSize</key>
			<string>{551, 1397}</string>
		</dict>
		<key>walk_export/w1/walking__010.png</key>
		<dict>
			<key>frame</key>
			<string>{{437, 2724}, {433, 1359}}</string>
			<key>offset</key>
			<string>{49, 12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{108, 6}, {433, 1359}}</string>
			<key>sourceSize</key>
			<string>{551, 1397}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
		<key>textureFileName</key>
		<string>w1.png</string>
	</dict>
</dict>
</plist>
