<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>walk_export/w2/walking__011.png</key>
		<dict>
			<key>frame</key>
			<string>{{866, 1365}, {433, 1360}}</string>
			<key>offset</key>
			<string>{49, 13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{108, 5}, {433, 1360}}</string>
			<key>sourceSize</key>
			<string>{551, 1397}</string>
		</dict>
		<key>walk_export/w2/walking__012.png</key>
		<dict>
			<key>frame</key>
			<string>{{1298, 1}, {432, 1360}}</string>
			<key>offset</key>
			<string>{49, 13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{108, 5}, {432, 1360}}</string>
			<key>sourceSize</key>
			<string>{551, 1397}</string>
		</dict>
		<key>walk_export/w2/walking__013.png</key>
		<dict>
			<key>frame</key>
			<string>{{432, 1}, {432, 1362}}</string>
			<key>offset</key>
			<string>{49, 13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{108, 4}, {432, 1362}}</string>
			<key>sourceSize</key>
			<string>{551, 1397}</string>
		</dict>
		<key>walk_export/w2/walking__014.png</key>
		<dict>
			<key>frame</key>
			<string>{{433, 1365}, {431, 1362}}</string>
			<key>offset</key>
			<string>{48, 13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{108, 4}, {431, 1362}}</string>
			<key>sourceSize</key>
			<string>{551, 1397}</string>
		</dict>
		<key>walk_export/w2/walking__015.png</key>
		<dict>
			<key>frame</key>
			<string>{{862, 2729}, {431, 1362}}</string>
			<key>offset</key>
			<string>{48, 14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{108, 3}, {431, 1362}}</string>
			<key>sourceSize</key>
			<string>{551, 1397}</string>
		</dict>
		<key>walk_export/w2/walking__016.png</key>
		<dict>
			<key>frame</key>
			<string>{{866, 1}, {430, 1362}}</string>
			<key>offset</key>
			<string>{48, 14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{108, 3}, {430, 1362}}</string>
			<key>sourceSize</key>
			<string>{551, 1397}</string>
		</dict>
		<key>walk_export/w2/walking__017.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1367}, {430, 1363}}</string>
			<key>offset</key>
			<string>{48, 14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{108, 2}, {430, 1363}}</string>
			<key>sourceSize</key>
			<string>{551, 1397}</string>
		</dict>
		<key>walk_export/w2/walking__018.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 2732}, {429, 1363}}</string>
			<key>offset</key>
			<string>{47, 14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{108, 2}, {429, 1363}}</string>
			<key>sourceSize</key>
			<string>{551, 1397}</string>
		</dict>
		<key>walk_export/w2/walking__019.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {429, 1364}}</string>
			<key>offset</key>
			<string>{47, 15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{108, 1}, {429, 1364}}</string>
			<key>sourceSize</key>
			<string>{551, 1397}</string>
		</dict>
		<key>walk_export/w2/walking__020.png</key>
		<dict>
			<key>frame</key>
			<string>{{432, 2732}, {428, 1363}}</string>
			<key>offset</key>
			<string>{48, 13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{109, 3}, {428, 1363}}</string>
			<key>sourceSize</key>
			<string>{551, 1397}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
		<key>textureFileName</key>
		<string>w2.png</string>
	</dict>
</dict>
</plist>
