<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>walk_export/w3/walking__021.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {428, 1363}}</string>
			<key>offset</key>
			<string>{48, 12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{109, 4}, {428, 1363}}</string>
			<key>sourceSize</key>
			<string>{551, 1397}</string>
		</dict>
		<key>walk_export/w3/walking__022.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1366}, {428, 1363}}</string>
			<key>offset</key>
			<string>{48, 11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{109, 5}, {428, 1363}}</string>
			<key>sourceSize</key>
			<string>{551, 1397}</string>
		</dict>
		<key>walk_export/w3/walking__023.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 2731}, {428, 1362}}</string>
			<key>offset</key>
			<string>{48, 11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{109, 6}, {428, 1362}}</string>
			<key>sourceSize</key>
			<string>{551, 1397}</string>
		</dict>
		<key>walk_export/w3/walking__024.png</key>
		<dict>
			<key>frame</key>
			<string>{{1794, 1}, {428, 1361}}</string>
			<key>offset</key>
			<string>{48, 9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{109, 8}, {428, 1361}}</string>
			<key>sourceSize</key>
			<string>{551, 1397}</string>
		</dict>
		<key>walk_export/w3/walking__025.png</key>
		<dict>
			<key>frame</key>
			<string>{{431, 1}, {428, 1361}}</string>
			<key>offset</key>
			<string>{48, 8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{109, 9}, {428, 1361}}</string>
			<key>sourceSize</key>
			<string>{551, 1397}</string>
		</dict>
		<key>walk_export/w3/walking__026.png</key>
		<dict>
			<key>frame</key>
			<string>{{3157, 1}, {428, 1360}}</string>
			<key>offset</key>
			<string>{48, 8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{109, 10}, {428, 1360}}</string>
			<key>sourceSize</key>
			<string>{551, 1397}</string>
		</dict>
		<key>walk_export/w3/walking__027.png</key>
		<dict>
			<key>frame</key>
			<string>{{3587, 1}, {428, 1360}}</string>
			<key>offset</key>
			<string>{48, 7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{109, 11}, {428, 1360}}</string>
			<key>sourceSize</key>
			<string>{551, 1397}</string>
		</dict>
		<key>walk_export/w3/walking__028.png</key>
		<dict>
			<key>frame</key>
			<string>{{431, 431}, {428, 1359}}</string>
			<key>offset</key>
			<string>{48, 5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{109, 13}, {428, 1359}}</string>
			<key>sourceSize</key>
			<string>{551, 1397}</string>
		</dict>
		<key>walk_export/w3/walking__029.png</key>
		<dict>
			<key>frame</key>
			<string>{{1792, 431}, {426, 1358}}</string>
			<key>offset</key>
			<string>{48, 5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{110, 14}, {426, 1358}}</string>
			<key>sourceSize</key>
			<string>{551, 1397}</string>
		</dict>
		<key>walk_export/w3/walking__030.png</key>
		<dict>
			<key>frame</key>
			<string>{{1792, 859}, {426, 1357}}</string>
			<key>offset</key>
			<string>{48, 4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{110, 15}, {426, 1357}}</string>
			<key>sourceSize</key>
			<string>{551, 1397}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
		<key>textureFileName</key>
		<string>w3.png</string>
	</dict>
</dict>
</plist>
