<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>walk_export/w7/walking__061.png</key>
		<dict>
			<key>frame</key>
			<string>{{859, 1363}, {425, 1360}}</string>
			<key>offset</key>
			<string>{41, 12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{104, 6}, {425, 1360}}</string>
			<key>sourceSize</key>
			<string>{551, 1397}</string>
		</dict>
		<key>walk_export/w7/walking__062.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1364}, {426, 1361}}</string>
			<key>offset</key>
			<string>{42, 11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{104, 6}, {426, 1361}}</string>
			<key>sourceSize</key>
			<string>{551, 1397}</string>
		</dict>
		<key>walk_export/w7/walking__063.png</key>
		<dict>
			<key>frame</key>
			<string>{{859, 1}, {426, 1360}}</string>
			<key>offset</key>
			<string>{42, 11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{104, 7}, {426, 1360}}</string>
			<key>sourceSize</key>
			<string>{551, 1397}</string>
		</dict>
		<key>walk_export/w7/walking__064.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {427, 1361}}</string>
			<key>offset</key>
			<string>{42, 10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{104, 7}, {427, 1361}}</string>
			<key>sourceSize</key>
			<string>{551, 1397}</string>
		</dict>
		<key>walk_export/w7/walking__065.png</key>
		<dict>
			<key>frame</key>
			<string>{{430, 1}, {427, 1360}}</string>
			<key>offset</key>
			<string>{43, 10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{105, 8}, {427, 1360}}</string>
			<key>sourceSize</key>
			<string>{551, 1397}</string>
		</dict>
		<key>walk_export/w7/walking__066.png</key>
		<dict>
			<key>frame</key>
			<string>{{431, 2726}, {427, 1360}}</string>
			<key>offset</key>
			<string>{43, 10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{105, 8}, {427, 1360}}</string>
			<key>sourceSize</key>
			<string>{551, 1397}</string>
		</dict>
		<key>walk_export/w7/walking__067.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 2727}, {428, 1360}}</string>
			<key>offset</key>
			<string>{44, 9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{105, 9}, {428, 1360}}</string>
			<key>sourceSize</key>
			<string>{551, 1397}</string>
		</dict>
		<key>walk_export/w7/walking__068.png</key>
		<dict>
			<key>frame</key>
			<string>{{429, 1364}, {428, 1360}}</string>
			<key>offset</key>
			<string>{44, 9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{105, 9}, {428, 1360}}</string>
			<key>sourceSize</key>
			<string>{551, 1397}</string>
		</dict>
		<key>walk_export/w7/walking__069.png</key>
		<dict>
			<key>frame</key>
			<string>{{860, 2725}, {429, 1359}}</string>
			<key>offset</key>
			<string>{44, 8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{105, 10}, {429, 1359}}</string>
			<key>sourceSize</key>
			<string>{551, 1397}</string>
		</dict>
		<key>walk_export/w7/walking__070.png</key>
		<dict>
			<key>frame</key>
			<string>{{1286, 1363}, {428, 1359}}</string>
			<key>offset</key>
			<string>{45, 8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{106, 10}, {428, 1359}}</string>
			<key>sourceSize</key>
			<string>{551, 1397}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
		<key>textureFileName</key>
		<string>w7.png</string>
	</dict>
</dict>
</plist>
