<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>death_export/d2-2/dying__016.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {247, 332}}</string>
			<key>offset</key>
			<string>{90, 9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{183, 13}, {247, 332}}</string>
			<key>sourceSize</key>
			<string>{433, 377}</string>
		</dict>
		<key>death_export/d2-2/dying__017.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 335}, {247, 330}}</string>
			<key>offset</key>
			<string>{90, 9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{183, 14}, {247, 330}}</string>
			<key>sourceSize</key>
			<string>{433, 377}</string>
		</dict>
		<key>death_export/d2-2/dying__018.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 667}, {245, 329}}</string>
			<key>offset</key>
			<string>{90, 8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{184, 15}, {245, 329}}</string>
			<key>sourceSize</key>
			<string>{433, 377}</string>
		</dict>
		<key>death_export/d2-2/dying__019.png</key>
		<dict>
			<key>frame</key>
			<string>{{248, 667}, {245, 326}}</string>
			<key>offset</key>
			<string>{90, 8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{184, 17}, {245, 326}}</string>
			<key>sourceSize</key>
			<string>{433, 377}</string>
		</dict>
		<key>death_export/d2-2/dying__020.png</key>
		<dict>
			<key>frame</key>
			<string>{{495, 1}, {243, 323}}</string>
			<key>offset</key>
			<string>{90, 7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{185, 19}, {243, 323}}</string>
			<key>sourceSize</key>
			<string>{433, 377}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>textureFileName</key>
		<string>d2-2.png</string>
	</dict>
</dict>
</plist>
