<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>death_export/d3/dying__021.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {242, 320}}</string>
			<key>offset</key>
			<string>{91, 7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{186, 21}, {242, 320}}</string>
			<key>sourceSize</key>
			<string>{433, 377}</string>
		</dict>
		<key>death_export/d3/dying__022.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 323}, {239, 316}}</string>
			<key>offset</key>
			<string>{90, 6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{187, 24}, {239, 316}}</string>
			<key>sourceSize</key>
			<string>{433, 377}</string>
		</dict>
		<key>death_export/d3/dying__023.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 641}, {237, 313}}</string>
			<key>offset</key>
			<string>{90, 5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{188, 26}, {237, 313}}</string>
			<key>sourceSize</key>
			<string>{433, 377}</string>
		</dict>
		<key>death_export/d3/dying__024.png</key>
		<dict>
			<key>frame</key>
			<string>{{240, 641}, {234, 308}}</string>
			<key>offset</key>
			<string>{90, 4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{189, 30}, {234, 308}}</string>
			<key>sourceSize</key>
			<string>{433, 377}</string>
		</dict>
		<key>death_export/d3/dying__025.png</key>
		<dict>
			<key>frame</key>
			<string>{{242, 323}, {239, 306}}</string>
			<key>offset</key>
			<string>{85, 3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{182, 32}, {239, 306}}</string>
			<key>sourceSize</key>
			<string>{433, 377}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>textureFileName</key>
		<string>d3.png</string>
	</dict>
</dict>
</plist>
