<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>death_export/d4-2/dying__036.png</key>
		<dict>
			<key>frame</key>
			<string>{{328, 221}, {310, 255}}</string>
			<key>offset</key>
			<string>{19, -20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{80, 81}, {310, 255}}</string>
			<key>sourceSize</key>
			<string>{433, 377}</string>
		</dict>
		<key>death_export/d4-2/dying__037.png</key>
		<dict>
			<key>frame</key>
			<string>{{672, 1}, {318, 244}}</string>
			<key>offset</key>
			<string>{11, -27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{68, 93}, {318, 244}}</string>
			<key>sourceSize</key>
			<string>{433, 377}</string>
		</dict>
		<key>death_export/d4-2/dying__038.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 206}, {325, 231}}</string>
			<key>offset</key>
			<string>{3, -34}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{57, 107}, {325, 231}}</string>
			<key>sourceSize</key>
			<string>{433, 377}</string>
		</dict>
		<key>death_export/d4-2/dying__039.png</key>
		<dict>
			<key>frame</key>
			<string>{{339, 1}, {331, 218}}</string>
			<key>offset</key>
			<string>{-3, -42}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{47, 121}, {331, 218}}</string>
			<key>sourceSize</key>
			<string>{433, 377}</string>
		</dict>
		<key>death_export/d4-2/dying__040.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {336, 203}}</string>
			<key>offset</key>
			<string>{-10, -50}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38, 137}, {336, 203}}</string>
			<key>sourceSize</key>
			<string>{433, 377}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>textureFileName</key>
		<string>d4-2.png</string>
	</dict>
</dict>
</plist>
