<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>walk_export/w3/walking__021.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {214, 681}}</string>
			<key>offset</key>
			<string>{24, 6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{54, 2}, {214, 681}}</string>
			<key>sourceSize</key>
			<string>{275, 698}</string>
		</dict>
		<key>walk_export/w3/walking__022.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 684}, {214, 680}}</string>
			<key>offset</key>
			<string>{24, 6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{54, 3}, {214, 680}}</string>
			<key>sourceSize</key>
			<string>{275, 698}</string>
		</dict>
		<key>walk_export/w3/walking__023.png</key>
		<dict>
			<key>frame</key>
			<string>{{898, 1}, {214, 679}}</string>
			<key>offset</key>
			<string>{24, 5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{54, 4}, {214, 679}}</string>
			<key>sourceSize</key>
			<string>{275, 698}</string>
		</dict>
		<key>walk_export/w3/walking__024.png</key>
		<dict>
			<key>frame</key>
			<string>{{1579, 1}, {214, 679}}</string>
			<key>offset</key>
			<string>{24, 5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{54, 4}, {214, 679}}</string>
			<key>sourceSize</key>
			<string>{275, 698}</string>
		</dict>
		<key>walk_export/w3/walking__025.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1366}, {214, 679}}</string>
			<key>offset</key>
			<string>{24, 4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{54, 5}, {214, 679}}</string>
			<key>sourceSize</key>
			<string>{275, 698}</string>
		</dict>
		<key>walk_export/w3/walking__026.png</key>
		<dict>
			<key>frame</key>
			<string>{{217, 1}, {214, 679}}</string>
			<key>offset</key>
			<string>{24, 4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{54, 5}, {214, 679}}</string>
			<key>sourceSize</key>
			<string>{275, 698}</string>
		</dict>
		<key>walk_export/w3/walking__027.png</key>
		<dict>
			<key>frame</key>
			<string>{{1795, 1}, {214, 678}}</string>
			<key>offset</key>
			<string>{24, 4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{54, 6}, {214, 678}}</string>
			<key>sourceSize</key>
			<string>{275, 698}</string>
		</dict>
		<key>walk_export/w3/walking__028.png</key>
		<dict>
			<key>frame</key>
			<string>{{1795, 681}, {214, 677}}</string>
			<key>offset</key>
			<string>{24, 3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{54, 7}, {214, 677}}</string>
			<key>sourceSize</key>
			<string>{275, 698}</string>
		</dict>
		<key>walk_export/w3/walking__029.png</key>
		<dict>
			<key>frame</key>
			<string>{{217, 1360}, {213, 678}}</string>
			<key>offset</key>
			<string>{24, 3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{55, 7}, {213, 678}}</string>
			<key>sourceSize</key>
			<string>{275, 698}</string>
		</dict>
		<key>walk_export/w3/walking__030.png</key>
		<dict>
			<key>frame</key>
			<string>{{432, 1360}, {213, 677}}</string>
			<key>offset</key>
			<string>{24, 2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{55, 8}, {213, 677}}</string>
			<key>sourceSize</key>
			<string>{275, 698}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>textureFileName</key>
		<string>w3.png</string>
	</dict>
</dict>
</plist>
